body {
}

th {
    background-color: #274C77 !important;
    color: white;
}

tr {
    backgroud-color: 8B8C89 !important;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

body {
    font-family: Arial;
    background: #f1f1f1;
}
