html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-secondary {
    background-color: #6096BA !important;
    border-color: #6096BA !important;
}

.material-icons.md-36 {
    font-size: 36px;
}

body {
    font-family: Arial;
    background: #f1f1f1;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

