@page
@model ProjektopgaveE23.Pages.Boats.DeleteBoatModel
@{
    ViewData["Title"] = "Slet båd";
}

<h1>Slet båd</h1>
<form method="post">
    <div class="form-group">
        <label>Id</label> :@Model.DeleteBoat.Id <br />
        <label>Name</label> :@Model.DeleteBoat.Name <br />
        <label>Beskrivelse</label> :@Model.DeleteBoat.Description <br />
        <label>Type</label> :@Model.DeleteBoat.BoatModel <br />

        <input type="submit" asp-page-handler="Delete" asp-route-number="@Model.DeleteBoat.Id" value="Slet båd" />
    </div>
</form>
