@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>




<style>
    th {
        background-color: #274C77 !important;
        color: white;
    }

    tr {
        backgroud-color: 8B8C89 !important;
    }

    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    body {
        font-family: Arial;
        background: #f1f1f1;
    }
</style>