@page
@model ProjektopgaveE23.Pages.RestrictedAdminAccessModel
@{
    ViewData["Title"] = "Ingen adgang uden admin";
}
<div class="card" align="center">
    <div align="center">
        <h1>Denne side kan kun tilgås af administrator.</h1>

        <img src="~/images/stop.jpg" alt="STOP" style="width:400px;height:400px;">

        <br /><br />

        <p><a asp-page="Index" class="btn btn-warning">Klik her for at vende tilbage til forsiden</a></p>
    </div>
</div>

