@page
@model ProjektopgaveE23.Pages.Users.LoginModel
@{
    ViewData["Title"] = "Log ind";
}

<h1>Log ind</h1>
@Model.Message
<form method="post">
    <div class="form-group">
    <table>
        <tr>
            <td>Brugernavn</td>
            <td><Input type="text" asp-for="@Model.Username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><Input type="password" asp-for="@Model.Password" /></td>
        </tr>
    </table>
    </div>
    <div class="form-group">
        <Input type="submit" value="Log ind" class="btn btn-primary"/>
    </div>


</form>
