@page
@model ProjektopgaveE23.Pages.Events.ListEventBookingModel
@{
    ViewData["Title"] = "List bookinger";
}

<h1>Alle begivenheds tilmeldinger</h1>

<table class="table">
    <thead>
        <tr>
            <th>Booking id</th>
            <th>Medlem</th>
            <th>begivenhedsid</th>
            <th>antal deltagere</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.EventBookings)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Username</td>
                <td>@item.EventID</td>
                <td>@item.AttendeesPerBooking</td>
            </tr>
        }

    </tbody>

</table>
